[user]
  name = technuma
  email = technuma@gmail.com
[color]
  ui = auto
[alias]
    s = status -sb
    d = diff
    o = checkout
    b = branch
    c = commit
    a = add
    p = push
    f = fetch
    m = merge
[core]
  editor = /usr/bin/vim
